body {
    padding: 0;
    margin: 0;
    font-size: 10px;
}
table {
     -moz-page-break-inside: auto;
    page-break-inside: auto;
    font-size: 10px !important;
    width: auto !important;
}
table tr {
   white-space: nowrap;
        -moz-page-break-inside: avoid;
        page-break-inside: avoid;
        page-break-after: auto;
}

.byellow {
     background-color: #f3f55e !important;
}
.yellow {
    color: #f3f55e !important;
}
#worker-print-tbl {
    width: 100% !important;
    margin-bottom: 50px;
}

#reportDiv table {
    overflow: visible;
    display: inline-block;
}
#reportDiv table tr {
   white-space: nowrap;
}
