<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="סבב חדש"
                             allow-collapse="true"></div>
                        <div class="widget-content">
                            <div class="row">
                                <div class="col-sm-2">
                                    <strong>בחר תאריך: </strong>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group date-picker">
                                        <input type="text" class="form-control" ng-click="vm.open($event)" datepicker-popup="{{vm.format}}" ng-model="vm.stratDate" is-open="vm.opened"
                                               date-disabled="vm.disabled(date, mode)" min-date="vm.minDate" datepicker-options="vm.dateOptions" show-button-bar="false" />
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary" ng-click="vm.getRounds()">בדוק סבבים קיימים בתאריך המבוקש</button>
                                </div>
                            </div>
                            <div data-ng-show="vm.rounds.length>0" class="row">
                                <div class="col-sm-2"><strong>בחר סבב: </strong></div>
                                <div class="col-sm-10">
                                    
                                    <select ng-model="vm.roundSelected" data-ng-change="vm.roundChange(vm.roundSelected)" ng-options="(round.RoundName +' '+ round.RoundDate.substring(0, 10)) for round in  vm.rounds  | orderBy:round.RoundDate">
                                        <option value="">סבב</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-show="vm.roundSelected!=null" class="row addProduct">
                                <div class="col-sm-12">
                                    <table class="table table-condensed table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>שם מוצר</th>
                                                <th>מחיר</th>
                                                <th>כמות</th>
                                                <th>מחיקה</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="product in vm.productsCustomer">
                                                <td>{{product.ProductName}}</td>
                                                <td>{{product.Cost}}</td>
                                                <td><input type="text" ng-blur="vm.clearZero(product)" ng-focus="vm.clearZero(product)" ng-model="product.Amount" name="productAmount" value="product.Amount" /></td>
                                                <td><button ng-click="vm.removeProductRoundCustomer(product)" class="btn btn-xs btn-danger">מחק <i class="glyphicon glyphicon-remove"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-12 text-center saveBtn" ng-show="vm.customersRoundShow">
                                    <button ng-show="!vm.roundBtnUpdateShow" ng-click="vm.saveRound()" class="btn btn-success">שמור סבב <i class="glyphicon glyphicon-save"></i></button>
                                    <button ng-show="vm.roundBtnUpdateShow" ng-click="vm.updateProductsRound(vm.roundId)" class="btn btn-success">עדכן סבב <i class="glyphicon glyphicon-floppy-disk"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="סבבים סגורים בחודש הנוכחי: {{vm.roundFilter.EndDateView+ ' - '+vm.roundFilter.StartDateView }}"
                             allow-collapse="true"></div>
                        <div class="widget-content">
                            <table class="table date-filter table-condensed table-bordered  table-striped">
                                <thead>
                                    <tr>
                                        <th>תאריך ושעה</th>
                                        <th>שם</th>
                                        <th>סטטוס</th>
                                        <th>מפיץ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="closeRound in vm.closeRounds | orderBy:'RoundDate':true">
                                        <td>{{closeRound.RoundDate | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{closeRound.RoundName}}</td>
                                        <td><input type="checkbox" data-ng-disabled="true" ng-checked="{{closeRound.roundStatus==1?'true':'false'}}" />{{closeRound.roundStatus==1?"פעיל":"לא פעיל"}}</td>
                                        <td>{{closeRound.RoundUser[0].FirstName + ' '+ closeRound.RoundUser[0].LastName}} <button data-ng-click="vm.showRound(closeRound)" class="pull-left btn btn-info btn-xs"><i class="glyphicon glyphicon-user"></i> פרטים</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h4 class="modal-title">
                שם הסבב: {{vm.round.RoundName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מפיץ: {{vm.round.RoundUser[0].FirstName + ' '+ vm.round.RoundUser[0].LastName}}
                &nbsp;&nbsp;&nbsp;&nbsp; תאריך: {{vm.round.RoundDate | date:'dd-MM-yyyy'}}
            </h4>
        </div>
        <div class="modal-body">
            <table data-ng-repeat="custRound in vm.round.custRound" class="table date-filter table-condensed table-bordered  table-striped">
                <thead ng-if="$index==0">
                    <tr>
                        <th>לקוח</th>
                        <th>מוצר</th>
                        <th>התקבל</th>
                        <th>חזרות</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="product in custRound.roundcustomerProducts">
                        <td class="{{custRound.customerRound.RoundCustomerStatus==true?'applay':''}}">{{product.CustomerRoundProduct.CustomerName}}</td>
                        <td class="{{custRound.customerRound.RoundCustomerStatus==true?'applay':''}}">{{product.CustomerRoundProduct.ProductName}}</td>
                        <td class="{{custRound.customerRound.RoundCustomerStatus==true?'applay':''}}">{{product.Amount}}</td>
                        <td class="{{custRound.customerRound.RoundCustomerStatus==true?'applay':''}}">{{product.DeliveredAmount}}</td>
                    </tr>
                </tbody>
            </table>                   
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
            <button class="btn btn-warning" ng-click="vm.cancel()">סגור</button>
        </div>
    </script>-->
</section>