<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="סבבים פתוחים בחודש הנוכחי: {{vm.roundFilter.EndDateView+ ' - '+vm.roundFilter.StartDateView }}"
                             allow-collapse="true"></div>
                        <div class="widget-content">
                            <table class="table date-filter table-condensed table-bordered  table-striped">
                                <thead>
                                    <tr>
                                        <th>תאריך ושעה</th>
                                        <th>שם</th>
                                        <th>סטטוס</th>
                                        <th>מפיץ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="round in vm.rounds | orderBy:'RoundDate':true">
                                        <td>{{round.RoundDate | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{round.RoundName}}</td>
                                        <td><input type="checkbox" data-ng-disabled="true" ng-checked="{{round.roundStatus==1?'true':'false'}}" />{{round.roundStatus==1?"פעיל":"לא פעיל"}}</td>
                                        <td>{{round.RoundUser[0].FirstName + ' '+ round.RoundUser[0].LastName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title=":סבבים סגורים בחודש הנוכחי {{vm.roundFilter.EndDateView+ ' - '+vm.roundFilter.StartDateView }}"
                             allow-collapse="true"></div>
                        <div class="widget-content">
                            <table class="table date-filter table-condensed table-bordered  table-striped">
                                <thead>
                                    <tr>
                                        <th>תאריך ושעה</th>
                                        <th>שם</th>
                                        <th>סטטוס</th>
                                        <th>מפיץ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="closeRound in vm.closeRounds | orderBy:'RoundDate':true">
                                        <td>{{closeRound.RoundDate | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{closeRound.RoundName}}</td>
                                        <td><input type="checkbox" data-ng-disabled="true" ng-checked="{{closeRound.roundStatus==1?'true':'false'}}" />{{closeRound.roundStatus==1?"פעיל":"לא פעיל"}}</td>
                                        <td>{{closeRound.RoundUser[0].FirstName + ' '+ closeRound.RoundUser[0].LastName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>