<section class="mainbar customersProducts" data-ng-controller="managementDistributions as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div allow-collapse="true" data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-sm-2">
                                <span>בחר לקוח:</span>
                                <select class="form-control" ng-model="vm.customerSelected" ng-options="customer.CustomerName for customer in vm.customers"
                                        ng-change="vm.customerSelectedChange(vm.customerSelected)">
                                    <option value="">לקוח</option>
                                </select>
                                <!--<button ng-show="vm.update" class="btn btn-primary">עדכן</button>-->
                            </div>
                            <div ng-show="vm.update" class="col-sm-4 scroll">
                                <div class="text-center custumer-header-tbl">מוצרים פעילים</div>
                                <table class="table  table-hover table-bordered table-striped table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th>שם מוצר</th>
                                            <th>בחירה</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="product in vm.products | orderBy:'ProductName'">
                                            <td>{{product.ProductName}}</td>
                                            <td><button ng-click="vm.addProductToCustomer(product.ProductID)" class="btn btn-xs btn-primary">הוסף מוצר ללקוח <i class="glyphicon glyphicon-arrow-left"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="vm.update" class="col-sm-6">
                                <div class="text-center custumer-header-tbl">מוצרים פעילים ללקוח {{vm.customerSelected.CustomerName}}</div>
                                <table class="table table-condensed table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>שם מוצר</th>
                                            <th>מחיר</th>
                                            <th>שמירה</th>
                                            <th>מחיקה</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="product in vm.productsCustomer | orderBy:'ProductName'">
                                            <td>{{product.ProductName}}</td>
                                            <td><input type="text" ng-model="product.Cost" name="productCost" value="product.Cost" /></td>
                                            <td><button ng-click="vm.saveProductToCustomer(product)" class="btn btn-xs btn-success">שמור <i class="glyphicon glyphicon-save"></i></button></td>
                                            <td><button ng-click="vm.removeProductToCustomer(product)" class="btn btn-xs btn-danger">מחק <i class="glyphicon glyphicon-remove"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                     <div class="col-sm-3">
                         <span>בחר מפיץ:</span>
                         <select class="form-control" ng-model="vm.customerSelected" ng-options="customer.CustomerName for customer in vm.customers"
                                 ng-change="vm.customerSelectedChange(vm.customerSelected)">
                             <option value="">מפיץ</option>
                         </select>
                         <button ng-show="vm.update" class="btn btn-primary">עדכן</button>
                     </div>
                     <div class="col-sm-3">
                         <p class="input-group date-picker">
                             <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.opened"
                                    datepicker-options="vm.dateOptions"  show-weeks="false" show-button-bar="false" />
                             <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                             </span>
                         </p>
                     </div>
                 </div>
                <!--<div class="row">
                        <div class="col-sm-12">
                            <div class="grid" dir="rtl" ui-grid-edit ui-grid-exporter ui-grid="vm.gridOptions"></div>
                        </div>

                    </div>-->
        </div>
    </section>

    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div allow-collapse="true" data-cc-widget-header title="ניהול סבבים"></div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="widget wblue">
                                    <div allow-collapse="true" data-cc-widget-header title="כל הסבבים"></div>
                                    <div class="widget-content">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                סנן: מתאריך - 
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group date-picker">
                                                    <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.stratDate" is-open="vm.openedStart"
                                                           date-disabled="vm.disabled(date, mode)" datepicker-options="vm.dateOptions" show-weeks="false" show-button-bar="false" />
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                עד תאריך -
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group date-picker">
                                                    <input type="text" class="form-control"  datepicker-popup="{{vm.format}}" ng-model="vm.endDate" is-open="vm.openedEnd"
                                                           date-disabled="vm.disabled(date, mode)" datepicker-options="vm.dateOptions" show-weeks="false" show-button-bar="false" />
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button ng-click="vm.filterRoundDate()" class="btn btn-info">סנן <i class="glyphicon glyphicon-search"></i></button>
                                               
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table date-filter table-condensed table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>תאריך ושעה</th>
                                                            <th>שם</th>
                                                            <th>סטטוס</th>
                                                            <th>מפיץ</th>
                                                            <th>עריכה</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="round in vm.rounds | orderBy:'RoundDate':true">
                                                            <td>{{round.RoundDate | date:'dd-MM-yyyy HH:mm'}}</td>
                                                            <td>{{round.RoundName}}</td>
                                                            <td><input type="checkbox" ng-click="vm.roundStatusChange(round)"  ng-checked="{{round.roundStatus==1?'true':'false'}}" />{{round.roundStatus==1?"פעיל":"לא פעיל"}}</td>
                                                            <td>{{round.RoundUser[0].FirstName + ' '+ round.RoundUser[0].LastName}}</td>
                                                            <td>
                                                                <button ng-click="vm.copyRound(round)" class="btn btn-xs btn-warning">שכפל <i class="glyphicon glyphicon-cloud-upload"></i></button>
                                                                <button ng-click="vm.editRound(round)" class="btn btn-xs btn-info">ערוך <i class="glyphicon glyphicon-edit"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-foot">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="widget wblue">
                                    <div allow-collapse="true" data-cc-widget-header title="יצירת סבב"></div>
                                    <div class="widget-content round">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button ng-click="vm.resetRound()" class="btn btn-warning pull-left">חדש <i class="glyphicon glyphicon-refresh"></i></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>שם:</label>
                                                <input type="text" ng-disabled="vm.customersRoundShow" name="roundName" ng-model="vm.roundName" placeholder="שם לסבב" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label>מפיץ:</label>
                                                <select ng-disabled="vm.customersRoundShow" class="form-control" ng-model="vm.workerSelected" ng-options="(worker.FirstName+' '+worker.LastName)  for worker in vm.workers track by worker.FirstName">
                                                    <option value="">בחר מפיץ</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <button ng-show="!vm.customersRoundShow" ng-click="vm.createRound()" ng-disabled="(!vm.roundName.trim().length>0) || (vm.workerSelected.UserID==undefined)" class="btn btn-info">צור סבב <i class="glyphicon glyphicon-circle-arrow-left"></i></button>
                                            </div>
                                           
                                        </div>
                                        <div class="row addProduct">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <div class="input-group date-picker">
                                                    <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.opened"
                                                           date-disabled="vm.disabled(date, mode)" min="vm.minDate" datepicker-options="vm.dateOptions" show-weeks="false" show-button-bar="false" />
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="bootstrap-timepicker">
                                                    <input id="timepicker" ng-model="vm.time" type="text" class="form-control" />
                                                    <i class="glyphicon glyphicon-time"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row addProduct">
                                            <div ng-show="vm.customersRoundShow" class="col-sm-4">
                                                <label>לקוח:</label>
                                                <select class="form-control" ng-model="vm.customerRoundSelected" ng-options="customer.CustomerName for customer in vm.customers track by customer.CustomerName"
                                                        ng-change="vm.customerRoundSelectedChange(vm.customerRoundSelected)">
                                                    <option value="">בחר לקוח</option>
                                                </select>
                                            </div>
                                            <div ng-show="vm.productsRoundCustomer.length>0" class="col-sm-4">
                                                <label>בחר מוצר:</label>
                                                <select class="form-control" ng-model="vm.productRoundSelected" ng-options="product.ProductName for product in vm.productsRoundCustomer track by product.ProductName">
                                                    <option value="">בחר מוצר</option>
                                                </select>
                                            </div>
                                            <div ng-show="vm.productsRoundCustomer.length>0" class="col-sm-4">
                                                <button ng-disabled="vm.productRoundSelected===undefined" ng-click="vm.addProductToRound(vm.productRoundSelected)" class="btn btn-info">הוסף מוצר לסבב<i class="glyphicon glyphicon-collapse-down"></i></button>
                                            </div>
                                        </div>
                                        <div ng-show="vm.productsRoundCustomerSelected.length>0" class="row addProduct">
                                            <div class="col-sm-12">
                                                <div class="text-center custumer-header-tbl">סבב , מפיץ: {{vm.workerSelected.FirstName + " " + vm.workerSelected.LastName}} |  תאריך ושעה: {{(vm.dt.toLocaleDateString("he-IL")!==undefined?vm.dt.toLocaleDateString("he-IL"):vm.dt | date:'dd.MM.yyyy') +","+vm.time}}</div>
                                                <table class="table table-condensed table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>לקוח</th>
                                                            <th>שם מוצר</th>
                                                            <th>מחיר</th>
                                                            <th>כמות</th>
                                                            <th>מחיקה</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="product in vm.productsRoundCustomerSelected | orderBy:['CustomerName','ProductName'] ">
                                                            <td>{{product.CustomerName}}</td>
                                                            <td>{{product.ProductName}}</td>
                                                            <td>{{product.Cost}}</td>
                                                            <td><input type="text" ng-model="product.Amount" name="productAmount" value="product.Amount" /></td>
                                                            <td><button ng-click="vm.removeProductRoundCustomer(product)" class="btn btn-xs btn-danger">מחק <i class="glyphicon glyphicon-remove"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-12 text-center saveBtn" ng-show="vm.customersRoundShow">
                                                <button ng-show="!vm.roundBtnUpdateShow" ng-click="vm.saveRound()" class="btn btn-success">שמור סבב <i class="glyphicon glyphicon-save"></i></button>
                                                <button ng-show="vm.roundBtnUpdateShow" ng-click="vm.updateProductsRound(vm.roundId)" class="btn btn-success">עדכן סבב <i class="glyphicon glyphicon-floppy-disk"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-foot">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
