<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TerminalsEntities" connectionString="metadata=res://*/Terminals.csdl|res://*/Terminals.ssdl|res://*/Terminals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=newcrm.rdtech.co.il;initial catalog=Terminals;user id=oren;password=123456789!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><add name="TerminalsEntities" connectionString="metadata=res://*/Terminals.csdl|res://*/Terminals.ssdl|res://*/Terminals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.116.49.126;initial catalog=Terminals;persist security info=True;user id=sa;password=123456789!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <add name="TerminalsEntities" connectionString="metadata=res://*/Terminals.csdl|res://*/Terminals.ssdl|res://*/Terminals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Terminals-new;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</configuration>