<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TerminalsEntities" connectionString="metadata=res://*/Terminals.csdl|res://*/Terminals.ssdl|res://*/Terminals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=newcrm.rdtech.co.il;initial catalog=Terminals;user id=oren;password=123456789!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><add name="TerminalsEntities" connectionString="metadata=res://*/Terminals.csdl|res://*/Terminals.ssdl|res://*/Terminals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OREN-PC\;initial catalog=Terminals;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>