<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TerminalsEntities" connectionString="metadata=res://*/Terminals.csdl|res://*/Terminals.ssdl|res://*/Terminals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Terminals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>