<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Distributors</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li ng-show="vm.isAuthenticated">
                    <form name="logout" ng-submit="vm.logout()">
                        <button class="btn btn-link" type="submit">התנתק</button>
                    </form>
                </li>
                <li>
                    <small>ברוך הבא: {{vm.customer.CustomerName}}</small> 
                </li>
            </ul>
        </div>
    </div>
</nav>