<section class="mainbar" data-ng-controller="worker as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="חלוקה"></div>
                    <div class="widget-content user">
                        <h3>סבבים בתאריך {{vm.date | date: 'dd-MM-yyyy'}}</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>בחר סבב: </strong>
                                <select ng-model="vm.roundSelected" data-ng-change="vm.roundChange(vm.roundSelected)" ng-options="(round.RoundName +' '+ round.RoundDate.substring(0, 10)) for round in  vm.rounds  | orderBy:round.RoundDate">
                                    <option value="">סבב</option>
                                </select>
                            </div>
                            <div class="col-sm-3" data-ng-show="vm.customersInRound.length>0">
                                <strong>בחר לקוח: </strong>
                                <select ng-model="vm.customer" data-ng-change="vm.customerChange(vm.customer)"
                                        ng-options="customer.customerRound.CustomerName for customer in  vm.customersInRound"
                                        options-class="{ 'applay' : customerRound.RoundCustomerStatus }">
                                    <option value="">לקוח</option>
                                </select>
                            </div>
                            <div data-ng-show="vm.customerRoundProducts.roundcustomerProducts.length>0" class="col-sm-2">
                                <button class="btn btn-success" data-ng-click="vm.saveProductsCustomer()">שמור <i class="glyphicon glyphicon-save"></i></button>
                            </div>
                            <div data-ng-show="vm.customerRoundProducts.roundcustomerProducts.length>0" class="col-sm-4">
                                <button data-ng-disabled="!vm.isSaved" class="btn btn-info" data-ng-click="vm.printBill()">הדפסה <i class="glyphicon glyphicon-print"></i></button>
                                <button data-ng-disabled="!vm.isSaved" class="btn btn-info" data-ng-click="vm.closeRound()">סגור סבב <i class="glyphicon glyphicon-share"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" data-ng-show="vm.customerRoundProducts.roundcustomerProducts.length>0">
                                <div class="widget wviolet">
                                    <div data-cc-widget-header title="עדכון מוצרים ללקוח: {{vm.customerRoundProducts.customerRound.CustomerName + ' ח.פ. - '+vm.customerRoundProducts.customerRound.CustomerHP  }}"
                                         allow-collapse="true"></div>
                                    <div class="widget-content">
                                        <table class="table date-filter table-responsive table-condensed table-bordered workerTbl  table-striped">
                                            <thead>
                                                <tr>
                                                    <th>מס' סידורי</th>
                                                    <th>שם המוצר</th>
                                                    <th>כמות</th>
                                                    <th>החזרות</th>
                                                    <th>עריכה</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="productRow{{$index+1}}" data-ng-repeat="product in vm.customerRoundProducts.roundcustomerProducts | orderBy: 'CustomerRoundProduct.ProductName'">
                                                    <td class="{{vm.customerRoundProducts.customerRound.RoundCustomerStatus==true?'applay':''}}">{{$index+1}}</td>
                                                    <td class="{{vm.customerRoundProducts.customerRound.RoundCustomerStatus==true?'applay':''}}">{{product.CustomerRoundProduct.ProductName}}</td>
                                                    <td class="{{vm.customerRoundProducts.customerRound.RoundCustomerStatus==true?'applay':''}} productRowTd productRowTd{{$index+1}}">{{product.Amount}}</td>
                                                    <td class="{{vm.customerRoundProducts.customerRound.RoundCustomerStatus==true?'applay':''}} productRowInput productRowInput{{$index+1}}" id=""><input type="text" ng-model="product.Amount" name="productAmount" /></td>
                                                    <td class="{{vm.customerRoundProducts.customerRound.RoundCustomerStatus==true?'applay':''}} productRowTd productRowTd{{$index+1}}">{{product.DeliveredAmount}}</td>
                                                    <td class="{{vm.customerRoundProducts.customerRound.RoundCustomerStatus==true?'applay':''}} productRowInput productRowInput{{$index+1}}"><input type="text" ng-model="product.DeliveredAmount" name="deliveredAmount" /></td>
                                                    <td class="{{vm.customerRoundProducts.customerRound.RoundCustomerStatus==true?'applay':''}}"><button data-ng-click="vm.editRow($index+1,product.DeliveredAmount,product.Amount)" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="widget-foot">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="display:none"  class="worker-print">
        <div id="worker-print" class="container-fluid">
            <div data-ng-repeat="products in vm.productsPrint">
                <div class="row">
                    <div class="col-xs-6 pull-right text-center">
                        <h6>
                           {{vm.manager.name}}
                        </h6>
                    </div>
                    <div class="col-xs-6 pull-left text-center">
                        ע.מ. מס' &nbsp;&nbsp;&nbsp;<br />
                        {{vm.manager.SoleProprietorship}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 pull-right text-right">
                        {{vm.manager.address}} &nbsp;
                        &nbsp; פל':&nbsp;  {{vm.manager.phone}}
                        &nbsp;טלפון:&nbsp;  {{vm.manager.tel}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 print-row">
                        <div class="text-right pull-right"> תעודת משלוח מספר: {{vm.roundSelected.RoundID + products[0].CustomerRoundProduct.CustomerID}}</div>
                        <div class="text-left pull-left">תאריך: {{vm.date | date: 'dd-MM-yyyy'}}</div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 text-center"><h6>לכבוד: {{products[0].CustomerRoundProduct.CustomerName + ' ח.פ. - '+ products[0].CustomerHP }}</h6></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="worker-print-tbl" class="table date-filter table-responsive table-condensed table-bordered  table-striped">
                            <thead>
                                <tr>
                                    <th>מס'</th>
                                    <th>שם המוצר</th>
                                    <th>כמות</th>
                                    <th>החזרות</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="product in products">
                                    <td>{{$index+1}}</td>
                                    <td>{{product.CustomerRoundProduct.ProductName}}</td>
                                    <td>{{product.Amount}}</td>
                                    <td>{{product.DeliveredAmount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section style="display:none" class="worker-print">
        <div id="worker-print-pay" class="container-fluid">
            <div data-ng-repeat="products in vm.productsPrint">
                <div class="row">
                    <div class="col-xs-6 pull-right text-center">
                        <h6>
                           {{vm.manager.name}}
                        </h6>
                    </div>
                    <div class="col-xs-6 pull-left text-center">
                        ע.מ. מס' &nbsp;&nbsp;&nbsp;<br />
                        {{vm.manager.SoleProprietorship}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 pull-right text-right">
                        {{vm.manager.address}} &nbsp;
                        &nbsp; פל':&nbsp;  {{vm.manager.phone}}
                        &nbsp;טלפון:&nbsp;  {{vm.manager.tel}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 print-row">
                        <div class="text-right pull-right"> תעודת לתשלום מספר: {{vm.roundSelected.RoundID + products[0].CustomerRoundProduct.CustomerID}}</div>
                        <div class="text-left pull-left">תאריך: {{vm.date | date: 'dd-MM-yyyy'}}</div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 text-center"><h6>לכבוד: {{products[0].CustomerRoundProduct.CustomerName + ' ח.פ. - '+ products[0].CustomerHP }}</h6></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table date-filter table-responsive table-condensed table-bordered  table-striped">
                            <thead>
                                <tr>
                                    <th>מס'</th>
                                    <th>שם המוצר</th>
                                    <th>כמות</th>
                                    <th>החזרות</th>
                                    <th>יח'</th>
                                    <th>סכ"ה</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="product in products">
                                    <td>{{$index+1}}</td>
                                    <td>{{product.CustomerRoundProduct.ProductName}}</td>
                                    <td>{{product.Amount}}</td>
                                    <td>{{product.DeliveredAmount}}</td>
                                    <td>{{product.CustomerRoundProduct.Cost}}</td>
                                    <td>{{(product.CustomerRoundProduct.Cost * product.Amount) | number:1}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="text-center">
                                        סכ"ה לפני : {{vm.calcTotal(products) | currency:undefined:2 }}&nbsp;&nbsp;&nbsp;
                                        סכ"ה כולל מע"מ: {{vm.calcTotal(products)+(vm.calcTotal(products)*0.18) | currency:undefined:2 }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
